.pg-wrapper {
    position: relative;
}
.pg-insert {
    background: #ffffff;
    padding: 10px;
    border: 1px solid #cccccc;
    position: absolute;
    top: 1em;
    left: 0px;
    width: 160px;
    display: none;
    z-index: 1000;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    white-space: normal;
    color: #333 !important;
}
.pg-panel {
    color: #333 !important;
    font-size: 80%;
}
.pg-insert h3, .pg-panel h3 {
    margin: 0px;
    padding: 0px;
}
.pg-panel h3.pg-sender-name {
    margin: 0px;
    margin-top: 10px;
    margin-left: -16px;
    padding: 4px;
    padding-left: 20px;
    background: #f7dd52;
    cursor: pointer;
}
.pg-panel .pg-collapsed h3.pg-sender-name {
    background: #dddddd;
}
.pg-panel .pg-indicate-org h3.pg-sender-name, .pg-panel .pg-indicate-sender h3.pg-sender-name {
    background: #f7dd52 !important;
}
.pg-panel h3 .pg-label {
    font-weight: normal;
}
.pg-insert ul, .pg-panel ul {
    padding: 0px !important;
    margin-top: 4px !important;
    margin-bottom: 0px !important;
    margin-right: 0px !important;
    margin-left: 0px !important;
    list-style: square !important;
}
.pg-insert ul li, .pg-panel ul li {
    padding: 0px !important;
    margin-left: 15px !important;
}
.pg-insert img, .pg-panel img {
    border: 0px !important;
}
.pg-info {
    border-top: 1px solid #cccccc;
    margin-top: 8px;
    padding-top: 8px;
}
.pg-info .pg-item {
    padding-top: 8px;
}
.pg-info .pg-item:first-child {
    padding: 0px;
}
.pg-panel .pg-info {
    border-top: 0px;
    margin-top: 0px;
}
.pg-highlighted {
    background: #f7dd52;
}
.pg-insert .pg-highlighted {
    background: none;
}
.pg-fetching {
    background: #eeeeee url('../img/loading.gif') no-repeat top right;
}
.pg-rendered {
    background: #ffffff url('../img/ielogo.png') no-repeat top right;
}

.pg-wrapper a, .pg-panel a {
    text-decoration: none;
    color: #228899;
}
.pg-wrapper a:hover, .pg-panel a:hover {
    text-decoration: underline;
}

.pg-org, .pg-org span, .pg-sender, .pg-sender span {
    top: 0px;
}
.pg-org, .pg-org span {
    font-weight: normal;
}
.pg-fake-paragraph {
    margin: 1em 0px;
}

ul.pg-contrib-list li {
    background-repeat: no-repeat;
    background-position: -10px -10px;
    overflow: visible;
    list-style: none;
    margin-left: 0px !important;
    padding-left: 20px !important;
    padding-bottom: 5px !important;
}

.pg-panel-item.pg-indicate-org .pg-org-data {
    background: #fbeea8;
}

.pg-panel-item.pg-indicate-sender .pg-sender-data {
    background: #fbeea8;
}

.pg-panel-header {
    background: #ffffff url('../img/ielogo.png') no-repeat top left;
    padding-left: 50px;
    font-size: 20px;
    margin-top: 15px;
}
.pg-panel-header a {
    color: #f7dd52;
}

.iw {
    overflow: visible !important;
}