.pg-wrapper {
    position: relative;
}
.pg-insert {
    background: #ffffff;
    padding: 10px;
    border: 1px solid #cccccc;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 160px;
    display: none;
    z-index: 1000 !important;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    white-space: normal;
    color: #333 !important;
    font-size: 80%;
}
.pg-panel {
    color: #333 !important;
    font-size: 80%;
}
.pg-insert h3, .pg-panel h3 {
    margin: 0px;
    padding: 0px;
}

.sender-header { background-color: #eed635; margin: 10px 0 0 -16px; padding: 4px 4px 4px 16px; cursor: pointer;}

.pg-panel h3.pg-sender-name {
    background: url(../img/arrows_expand.png) left 5px no-repeat;
    font-weight: normal;
    color: #333333;
    font-size: 130%;
    padding-left: 15px;
}

.pg-collapsed .sender-header { background-color: #dddddd; }

.pg-collapsed .sender-header h3.pg-sender-name {
    background: url(../img/arrows_collapse.png) left 5px no-repeat;
    color: #908b8b;
}
.sender-header:hover h3.pg-sender-name { color: #6d6666; }

.pg-panel .pg-indicate-org .sender-header, .pg-panel .pg-indicate-sender .sender-header {
    background-color: #eed635 !important;
}

.pg-insert ul, .pg-panel ul {
    margin: 4px 0 20px 0;
}

.pg-panel ul { list-style: disc !important; padding: 0px 0 0 20px !important;}
.pg-insert ul {  list-style: none;  padding: 0;}

.pg-panel ul li {
    padding: 0px !important;
    margin-left: 15px !important;
}
.pg-insert ul li { padding: 0px !important; margin: 0px; margin-left: 0;}

.pg-insert img, .pg-panel img {
    border: 0px !important;
}

.pg-insert .pg-topIndustries li { list-style: disc !important; margin-left: 30px;}

.pg-info {
    border-top: 1px solid #cccccc;
    margin-top: 8px;
    padding-top: 8px;
}

.pg-panel .pg-info .tip { margin-right: 20px;}

.pg-info .pg-item {
    padding-top: 8px;
}
.pg-info .pg-item:first-child {
    padding: 0px;
}
.pg-panel .pg-info {
    border-top: 0px;
    margin-top: 0px;
}
.pg-highlighted {
    background: #f7dd52;
}
.pg-insert .pg-highlighted {
    background: none;
}
.pg-fetching {
    background: #eeeeee url('../img/loading.gif') no-repeat top right;
}

.pg-insert a, .pg-panel a {
    text-decoration: none;
    color: #d79d01;
}
.pg-insert a:hover, .pg-panel a:hover {
    text-decoration: underline;
}

.pg-org, .pg-org span, .pg-sender, .pg-sender span {
    top: 0px;
}
.pg-org, .pg-org span {
    font-weight: normal;
    vertical-align: top;
}
.pg-fake-paragraph {
    margin: 1em 0px;
}

ul.pg-contrib-list li {
    background-repeat: no-repeat;
    background-position: -10px -10px;
    overflow: visible;
    list-style: none;
    margin-left: 0px !important;
    padding-left: 20px !important;
    padding-bottom: 10px !important;
    margin-bottom: 10px;
    border-bottom: 1px solid #eceaea;
    line-height: 19px;
}

.pg-panel .pg-sender-data {
    margin-left: -16px;
    padding-left: 16px;
}

.pg-panel-item.pg-indicate-org .pg-org-data {
    background: #fbeea8;
}

.pg-panel-item.pg-indicate-sender .pg-sender-data {
    background: #fbeea8;
}

.pg-panel-footer {
    padding-top: 10px;
    font-size: 70%;
    line-height: 16px;
}

.pg-sender .pg-highlighted, .pg-org .pg-highlighted {
    vertical-align: top;
}

.pg-panel .pg-org-data { background: #f6f4f4; padding: 15px; border: 1px solid #e7e4e4; }

.pg-panel-header { font-size: 20px; margin-top: 20px; color: #f7dd52; border-top: 1px solid #d6d6d6;}
.pg-panel-header h2 a { text-indent: -9999em; display: block; width: 200px; height: 37px; background: url(../img/logo.jpg) left top no-repeat; }
.pg-panel-header h2 { width: 200px; height: 37px; margin: 30px 0 20px;}

.standout { font-weight: bold;}

.pg-panel .tip { margin: 0 0 15px; color: #777171; font-family: Georgia, "Times New Roman", Times, serif; }
.pg-panel .smTip { font-style: italic; line-height: 18px;}
.pg-panel { line-height: 20px;}

.viewMore { font-size: 120%; font-style: italic; margin: 25px 0 15px; font-family: Georgia, "Times New Roman", Times, serif; display: block;}

.pg-panel .employersInfo h4, .pg-insert h4 { line-height: 17px; margin-bottom: 0px; margin-top: 15px; color: #5e5a5a;}
