<div class='pg-panel-item' data-pg-pos='<%=position%>' data-pg-id='<%=name%>_<%=email%>'>
    <div class="sender-header">
        <h3 class='pg-sender-name'><b>Sender:</b>&nbsp;<%=name%></h3>
    </div>
    <div class='pg-panel-content'>
        <% if (sender_info.length == 0) { %>
        <div class='pg-info pg-sender-data'>
            <p class="tip">We found no contributions by any individuals named <em><%=name%></em>.</p>
        </div>
        <% } else if (sender_info.length > 0 && sender_info.length < 6) { %>
        <div class='pg-info pg-sender-data'>
            <p class="tip">We found <%=sender_info.length%> likely-different individuals named <span class="standout"><em><%=name%></em></span> who contributed:</p>
            <ul class='pg-contrib-list'>
                <% for (var i = 0; i < sender_info.length; i++) { %>
                <li style="background-image: url('http://chart.apis.google.com/chart?cht=p&chf=bg,s,FFFFFF00&chp=1.57&chs=35x35&chco=3072F3|DB2A3F&chd=t:<%=percents(sender_info[i].dem_total, sender_info[i].rep_total)%>')">
                    <strong>$<%=formatDollars(sender_info[i].total)%></strong>
                    in total contributions from a <a href="http://transparencydata.com/contributions/#<%=sender_info[i].url%>"><%=name%> in
                    <strong>
                        <%=(sender_info[i].city ? sender_info[i].city + ', ' : '') + sender_info[i].state%>
                    </strong></a>
                </li>
                <% } %>
            </ul>
        </div>
        <% } else { %>
        <div class='pg-info pg-sender-data'>
            <p class="tip">We found <%=sender_info.length%> likely-different individuals named <em><%=name%></em> who contributed.</p> 
            <a class="viewMore" href="http://transparencydata.com/contributions/#<%=url%>">View All <%=sender_info.length%> Results</a>
        </div>
        <% } %>
        <% if (org_info) { %>
        <div class='pg-info pg-org-data'>
            <p class="tip smTip">Based on this sender's email address, we believe their employer is:</p>
            <%=templates.org_info(window.jQuery.extend({}, this, org_info))%>
        </div>
        <% } %>
    </div>
</div>